/**
 * CSS component for MCPi
 * Custom styles for custom objects
 */

#remoteContainer
{
	width: 240px;
}

#remoteContainer #remoteHome
{
	border-radius: 0;
	border-top-left-radius: 2.5em;
}

#remoteContainer #remoteInfo
{
	border-radius: 0;
	border-top-right-radius: 2.5em;
}

#remoteContainer #remoteBack
{
	border-radius: 0;
	border-bottom-left-radius: 2.5em;
}

#remoteContainer #remoteContext
{
	border-radius: 0;
	border-bottom-right-radius: 2.5em;
}

#remoteContainer #remoteLeft
{
	border-radius: 0;
}

#remoteContainer #remoteRight
{
	border-radius: 0;
}

#volumeContainer
{
	width: 180px;
}

#nowPlayingContent
{
	margin-top: 2em;
}

.jumbotron .panel p
{
	font-size: 14px;
}

.jumbotron .panel .panel-body
{
	max-height: 30em;
	overflow-y: scroll;
}

#modal-simple .modal-content
{
	padding: 15px;
}

.modal-header-primary
{
	padding:9px 15px;
	border-bottom:1px solid #eee;
	background-color: #337AB7;
	color: #FFF;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	 border-top-left-radius: 5px;
	 border-top-right-radius: 5px;
 }

.wait-overlay
{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
}

.wait-overlay i
{
	position: relative;
	top: 50%;
}

.list
{
	border: 0;
	background: transparent;
	line-height: 1;
}

.item
{
	cursor: default;
	box-sizing: border-box;
	vertical-align: top;
	z-index: 9999;
}


.placeholder
{
	border: 1px solid #000;
	background-color: transparent;
}

.error-message
{
	position: fixed;
	top: 45%;
	left: 50%;
	margin-left: -150px;
	width: 300px;
	z-index: 9999;
}
